<div class="container-fluid">
  <div class="edit-container">

    <div class="intro-container">
      <p id="edit-title">Profile Overview</p>
    </div>

    <div class="row">
      <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
        <div class="form">
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %> <%= f.error_notification %>

            <%= f.input :email, required: true, autofocus: true, label: false, placeholder: "Enter your email" %>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>

            <%= f.input :current_password, hint: "Required to confirm changes", required: true, label: false, placeholder: "Enter your current password" %>
            <%= f.input :password, autocomplete: "off", hint: "Leave blank if you don't want to change it", required: false, label: false, placeholder: "Enter your new password" %>
            <%= f.input :password_confirmation, required: false, label: false, placeholder: "Confirm your new password" %>
            <%= f.input :first_name, label: false, placeholder: "First name" %>
            <%= f.input :last_name, label: false, placeholder: "Last name"  %>

          <div class="form-actions-update">
            <%= f.button :submit, "Update" %>
          </div>

          <% end %>

          <!-- CHANGE THIS LINE TO TRIGGER ERROR MESSAGE, SEE DIV AT BOTTOM -->
          <%= fancy_popup_link("Unhappy, cancel your account?") %>
        </div>
      </div>
    </div>
  </div>

  <div id="closing-cross">
    <%= link_to :jets do %>
      <i class="fa fa-times"></i>
    <% end %>
  </div>

  <div id="bottom"></div>
</div>

<!-- THIS DIV BELOW IS THE CONFIRMATION POP MESSAGE, CHANGE TEXT DEPENDING ON PAGE -->

<%= fancy_popup("Are you sure you want to cancel your account?") do %>
  <%= link_to "Yes", registration_path(resource_name), method: :delete %>
<% end %>
