<div class="card-wrapper">
  <div class="card"
    <% if jet.photo? %>
      style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path jet.photo.url(:thumbnail) %>);"
    <% else %>
      style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2));"
    <% end %>
    >
  </div>

    <div class="card-description">
      <h3><%= jet.name %></h3>
      <h4><%= jet.description %></h4>
      <p>$<%= jet.price %> USD per day</p>
    </div>
    <%= link_to "", jet_path(jet), class: "card-link"%>
</div>


