
<div class="container">
<%= simple_form_for @jet do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :has_service, as: :select %>
  <%= f.input :max_capacity, collection: 1..10 %>
  <%= f.association :airport_origin %>
  <%= f.association :airport_destination %>
  <%= f.input :price %>
  <%= f.submit "Edit Jet", class: "btn btn-primary" %>
<% end %>
</div>

