<div class="banner" style="background-image: url('https://images.unsplash.com/uploads/14114640960629b5c3fa0/116dc05a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bbfd4b7f8ece57720da85b50565a2709&auto=format&fit=crop&w=2850&q=80')";>

  <div class="text-center heading">Jet Lag</div>

<div class="search-bar-wrapper">
  <div class="row">
    <div class="col-xs-12">
      <div class="search-bar text-center">
      <h3>Search for your first trip now:</h3>
      <%= form_tag(search_airports_path, method: :get) do %>
      <div class="row">
        <div class="col-xs-12">
        <%= select_tag :airport_origin, options_from_collection_for_select(@airports, "id", "code_name"), class: "form-control" %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
        <%= select_tag :airport_destination, options_from_collection_for_select(@airports, "id", "code_name"), class: "form-control" %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
        <%= submit_tag 'Search', class: "btn btn-danger" %>
        </div>
      </div>
      <% end %>
      </div>
    </div>
  </div>
</div>

</div>

<br>

<div class="container">

  <div class="explain">
    <h3>How does it work?</h3>
    <p>Have you ever thought to yourself this line at the airport is taking way too long? Well think no more! With Jet Lag you can rent a jet to fly from point a to point b in the most luxurious and pain free manner.</p>
    <p>Our platform also allows owners of jets to upload their plane when there's space available!</p>
    <h3>Book your first trip</h3>
    <p><%= link_to "Sign up now", new_user_registration_path %> and get ready to fly in style.</p>
  </div>

       <!--  <div class="multi-tab text-center">
        <div class="tab">
          <button class="tablinks active" onclick="openCity(event, 'London')">Sign up</button>
          <button class="tablinks" onclick="openCity(event, 'Paris')">How does it work?</button>
          <button class="tablinks" onclick="openCity(event, 'Tokyo')">Book your first trip</button>
        </div>
        <div id="London" class="tabcontent">
          <p>Just sign up</p>
        </div>

        <div id="Paris" class="tabcontent">
          <p>It works</p>
        </div>
        <div id="Tokyo" class="tabcontent">
          <p>With Lebron</p>
        </div>
      </div>

  </div> -->

  <div class="jets-near-you">
  <h3>Jets near you</h3>
  <div class="row">
    <% @jets.each do |jet| %>
    <div class="col-xs-12 col-sm-4 col-md-3">
      <%= render "card_jets_index", { jet: jet }%>
    </div>
    <% end %>
  </div>

  <div class="btn btn-danger">See more</div>
</div>

</div>




