<div class="container">
  <h1>Jet-lag</h1>


  <% @jets.each do |jet| %>
  <p><%= jet.name %> | <%= jet.description %> | <%= jet.price %> | <%= link_to "Show this jet", jet %> </p>
  <% end %>

  <br>

  <p><%= link_to "Log Out", destroy_user_session_path, method: :delete %> | <%= link_to "Update Details", edit_user_registration_path %></p>

  <p>Hello <%= current_user.first_name %></p>

</div>
