
<div class="container-header">
  <div class="banner">
      <img src="/assets/banner2.jpg" alt="banner2" style="z-index: 98">
      <img src="/assets/beach1.jpg" alt="beach1" style="z-index: 97">
      <img src="/assets/image2.jpg" alt="image2" style="z-index: 95">
      <img src="/assets/moutain1.jpg" alt="moutain1" style="z-index: 93">
      <img src="/assets/moutain2.jpg" alt="moutain2" style="z-index: 92">
      <img src="/assets/norway1.jpg" alt="norway1" style="z-index: 91">
  </div>
  <div class="search-wrapper">
    <div class="search-bar">
      <h3 class="row-h3">Search for your first trip now:</h3>
      <br>
      <%= form_tag(search_airports_path, method: :get, class: "index-form") do  %>
      <%= select_tag :airport_origin, options_from_collection_for_select(@airports, "id", "code_name") %>
      <%= select_tag :airport_destination, options_from_collection_for_select(@airports, "id", "code_name") %>
      <%= submit_tag 'Search' %>
      <% end %>
    </div>
  </div>
</div>
<div class="body-container">
      <br>
      <br>
      <p class= "index-titles"> Introduction</p>
      <br>
      <div class="multi-tab">
        <div class="tab">
          <button class="tablinks" onclick="openCity(event, 'Paris')">How does it work</button>
          <button class="tablinks" onclick="openCity(event, 'Tokyo')">Book your first trip</button>
        </div>
        <div id="Paris" class="tabcontent">
          <p>Have you ever thought to yourself this line at the airport is taking way too long? Well think no more! With Jet Lag you can rent a jet to fly from point a to point b in the most luxurious and pain free manner.</p>
          <p>Our platform also allows owners of jets to upload their plane when there's space available!</p>
        </div>
        <div id="Tokyo" class="tabcontent">
          <p><%= link_to "Sign up now", new_user_registration_path %> and get ready to fly in style.</p>
        </div>
      </div>
  </div>
</div>
<br>

<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-8">
  <p class= "index-titles"> Jets near you</p>
  <br>
  <br>
  <br>
  <div class="row">
    <% @jets.each do |jet| %>
    <div class="col-xs-12 col-sm-4 col-md-3">
      <%= render "card_jets_index", { jet: jet }%>
    </div>
    <% end %>
      </div>
      </div>
    </div>
<br>
  <div class="btn btn-danger">See more</div>
  <br>
  <br>
  <br>
  <br>
</div>
<%= javascript_pack_tag 'banner' %>

