<div class="container-header">
  <div class="banner">
    <%= cl_image_tag @jet.photo, class: 'banner', cloud_name: 'dkovtlfcg' %>
    <h1 class="text-center"><%= @jet.name %></h1>
  </div>
</div>
<br>
<div class="container">
  <p>
    Description : <%= @jet.description %>
    <br>
    Has service? : <%= @jet.has_service ? "Yes" : "No" %>
    <br>
    Belongs to: <%= @jet_owner.first_name %>
    <br>
    Departure airport: <%= @jet.airport_origin.name %> (<%= @jet.airport_origin.acronym %>)
    <br>
    Destination airport: <%= @jet.airport_destination.name %> (<%= @jet.airport_destination.acronym %>)
  </p>
  <br>
  <% if policy(@jet).update? %>
    <%= link_to "Edit", edit_jet_path(@jet) %>
  <% end %>
  <br>
  <% if policy(@jet).destroy? %>
    <%= link_to "Delete jet", jet_path(@jet), method: :delete,
    data: { confirm: "Are you sure?" } %>
  <% end %>

  <br>
  <p>Book a trip</p>
  <p>Trip Price: <%= (@jet.calculate_price).floor %>

  <%= render 'bookings/bookingform', :jet => @jet, :booking => @booking %>
  <br>
  <%= link_to "Back home", jets_path %>
</div>






