  <div class="container-header">
    <div class="banner">
      <%= cl_image_tag @jet.photo, class: 'banner', cloud_name: 'dkovtlfcg' %>
      <h1 class="show-title"><%= @jet.name %></h1>
    </div>
  </div>
  <br>
  <div class="container">
    <p class="show-text">Book your first trip with Jet Lag today:</p>
    <div class="row">
        <div class="jet-card">
          <div>
            <%=image_tag "https://source.unsplash.com/600x700//?{landscape}", class:"inside-image"%>
          </div>
          <div class="description-container">
            <br>
            Service on board: <b><%= @jet.has_service ? "Yes" : "No" %></b>
            <br>
            Belongs to: <b><%= @jet.user.first_name %></b>
            <br>
            Departure airport: <b><%= @jet.airport_origin.name %> (<%= @jet.airport_origin.acronym %>)</b>
            <br>
            Destination airport: <b><%= @jet.airport_destination.name %> (<%= @jet.airport_destination.acronym %>)</b>
            <br>
            Base price: $<span id="base-price"><b><%= @jet.price %><b></span>
              <div class="booking-action">
                <div class="booking-details">
                  <br>
                  <%= render 'bookings/bookingform', :jet => @jet, :booking => @booking, class:"seats-form" %>
                </div>
                <div class="total">
                  Total price: $ <span id="total-price"><%= (@jet.calculate_price).floor %></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      <div class="row">
        <% if policy(@jet).update? %>
        <%= link_to "Edit this trip", edit_jet_path(@jet) %>
        <% end %>
        <br>
        <!-- CHANGE THIS LINE TO TRIGGER ERROR MESSAGE, SEE DIV AT BOTTOM -->
        <% if policy(@jet).destroy? %>
          <%= fancy_popup_link("Delete your jet?") %>
        <% end %>
      </div>
    </div>
  </div>

<%= javascript_pack_tag 'total_price' %>

<!-- THIS DIV BELOW IS THE CONFIRMATION POP MESSAGE, CHANGE TEXT DEPENDING ON PAGE -->
<%= fancy_popup("Are you sure you want to delete this trip?") do %>
  <%= link_to "Yes", jet_path(@jet), method: :delete if policy(@jet).destroy? %>
<% end %>


