<div class="container-header">
  <div class="banner">
    <%= cl_image_tag @jet.photo, class: 'banner' %>
    <h1 class="text-center"><%= @jet.name %></h1>
  </div>
</div>
<br>
<div class="container">
  <p>
    Description : <%= @jet.description %>
    <br>
    Has service? : <%= @jet.has_service ? "Yes" : "No" %>
    <br>
    Origin: <% @jet.airports(airport_origin_id).each do |a| %>
    <%= "#{a.name} (#{a.acronym.uppercase})" %>
    <br>
    <br>
    Current Destination: <% @jet.airports.each do |a| %>
    <%= "#{a.name} (#{a.acronym.uppercase})" %>
    <br>
    Price: $ <%= @jet.price %>
    <br>
    Belongs to: <%= @jet_owner.first_name %>
  </p>
  <br>
  <% if policy(@jet).update? %>
    <%= link_to "Edit", edit_jet_path(@jet) %>
  <% end %>
  <br>
  <% if policy(@jet).destroy? %>
    <%= link_to "Delete jet", jet_path(@jet), method: :delete,
    data: { confirm: "Are you sure?" } %>
  <% end %>

  <br>
  <p>Book a trip</p>
  <%= render 'bookings/bookingform', :jet => @jet, :booking => @booking %>
  <br>
  <%= link_to "Back home", jets_path %>
</div>






