
<h1 class="text-center"><%= @jet.name %></h1>
<br>
<div class="container">
  <p>
    Description : <%= @jet.description %>
    <br>
    Has service? : <%= @jet.has_service ? "Yes" : "No" %>
    <br>
    Origin: <%= @jet.origin  %>
    <br>
    Price: $ <%= @jet.price %>
    <br>
    Belongs to: <%= @jet_owner.first_name %>
  </p>
  <br>
  <%= link_to "Edit", edit_jet_path(@jet) %>
    <br>
  <%= link_to "Delete jet", jet_path(@jet), method: :delete,
  data: { confirm: "Are you sure?" } %>

  <br>
  <p>Book a trip</p>
  <%= render 'bookings/bookingform', :jet => @jet, :booking => @booking %>
  <br>
  <%= link_to "Back home", jets_path %>
</div>






