<div class="card-wrapper">
  <div class="card"
    <% if jet.photo? %>
      style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path jet.photo.url(:thumbnail) %>);"
    <% else %>
      style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2));"
    <% end %>
    >
  </div>

    <div class="card-description text-center">
      <p><%= jet.airport_origin.name %></p>
      <h3><%= jet.name.upcase %></h3>
      <p>from <%= jet.price %> USD</p>
    </div>
    <%= link_to "", jet_path(jet), class: "card-link"%>
</div>


