<h1>Edit your booking</h1>


<%= simple_form_for [@booking] do |f| %>

    <%= f.input :seats, as: :radio_buttons, collection: @jet.seat_range %>
    <%= f.submit "Submit" %>

<% end %>

<%= link_to 'Back', :back %>
<%= link_to 'Home', :jets %>
