<h1 class='text-center'>Edit your booking</h1>


<%= simple_form_for @booking, html: { class: "text-center container"} do |f| %>

    <%= f.input :seats, as: :select, collection: @jet.seat_range %>
    <%= f.submit "Submit" %>

<% end %>

<%= link_to 'Back', :back %>
<%= link_to 'Home', :jets %>
