<head><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
</head>
<div class="navbar-container">
  <div><i class="far fa-paper-plane icon"></i></div>
  <h3>Signed in as <%= current_user.email %></h3>
  <div class="navbar-links">
    <span class="navbar-words"><%= link_to "Create your ad", new_jet_path %></span>
    <span class="navbar-words"><%= link_to "Show your bookings", bookings_path %></span>
    <% if current_user %>
        <span class="navbar-words"><%= link_to "Log Out", destroy_user_session_path, method: :delete %> | <%= link_to "Update Details", edit_user_registration_path %></span>
    <% else %>
      <span class="navbar-words"><%= link_to "Log In", user_session_path %> | <%= link_to "Sign Up", new_user_registration_path %></span>
    <% end %>
  </div>
</div>

